/deplister.exe
/dev
/ext
/extras
/glib-2.dll
/gmodule-2.dll
/icudt68.dll
/icuin68.dll
/icuio68.dll
/icuuc68.dll
/index.php
/lib
/libcrypto-1_1-x64.dll
/libenchant2.dll
/libpq.dll
/libsasl.dll
/libsodium.dll
/libsqlite3.dll
/libssh2.dll
/libssl-1_1-x64.dll
/license.txt
/news.txt
/nghttp2.dll
/phar.phar.bat
/pharcommand.phar
/php-cgi.exe
/php-win.exe
/php.exe
/php.ini
/php.ini-production
/php8apache2_4.dll
/php8embed.lib
/php8phpdbg.dll
/php8ts.dll
/phpdbg.exe
/process.php
/readme-redist-bins.txt
/README.md
/snapshot.txt
/W6.php